@import "../../common/commonStyle";

.nav-list {
    @include flexCenter;
    @include size(auto, 100%);
    flex: 1;

    // div {
    //     &:first-child {
    //         border-top-left-radius: 15px;
    //         border-bottom-left-radius: 15px;
    //     }
    //     &:last-child {
    //         border-top-right-radius: 15px;
    //         border-bottom-right-radius: 15px;
    //     }
    // }
}

.nav-list-item {
    @include size(70px, 45px);
    @include flexCenter;
    cursor: pointer;

    &:hover {
        background-color: $lightGreen7;
    }

    i {
        font-size: 30px;
        color: white;
    }
}

.selected {
    background-color: $lightGreen7;
}